.center {text-align: center;}
.LitLogos {
    margin: 5px;
    width: 150px;
}
.footer-wrapper #social-footer ul {
    overflow: hidden;
    text-align: center;
}
.footer-wrapper #social-footer ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
h1 {    
    font-size: 2em;    
    font-weight: bold;
}